 nav a {
    color:green;
} 
 nav > h2 {
    color:red;
    background-color: rgb(238, 148, 148);
 } 
 ul + p {
    color:red;
} 
a[href] {
    color:red;
    text-decoration: none;
 } 
a[class="active"] {
    color:blue;
    text-decoration: underline;
}
a[target="_self"] {
    background-color: yellow;
}
p:last-child::after {
    content:".....";
}
li::marker {
    color:green;
}
p:nth-child(even)::first-letter {
    color:red;
    font-size:30px;
}